.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 70px);
  flex-wrap: wrap;
  margin-left: 200px;
  margin-top: 70px;
  transition: all 0.2s ease;
}

@media screen and (max-device-width: 700px) {
  .container {
    margin-left: 0px;
    margin-top: calc(70px + 70px);
    transition: all 0.2s ease;
  }
}
